@{
    ViewBag.Title = "Página Inicial";
}
<body>
    <div id="content-wrapper">
        <section id="intro2" class="intro-parallax2">
            <div class="container">
                <div class="row text-center">
                    <div class="col-sm-12 col-md-12">
                        <p><h1 style="color: white; font-size: 48px; margin: 5%">A ferramenta que você esperava para o gerenciamento de Reservas</h1></p>
                        <p><h3 style="color: white; margin: 2%">Aposente o uso de Post-It e tenha um maior controle sobre suas reservas</h3></p>
                        <div style="margin-top: 8%">
                            <h3><div class="alert alert-success" role="alert">Olá, o que você acha de inserirmos a<strong> PRIMEIRA SALA</strong>?</div></h3>
                            <a style="width: 20%; margin-right: 3%" type="button" class="btn btn-primary btn-lg" href="Sala/Cadastrar">Nova Sala</a>
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-12 titlebar">
                <h1>Lorem ipsum dolor sit amet, <strong>Reserva Fácil</strong></h1>
            </div>
        </div>

        <div class="row">
            <div id="about-1-text" class="col-md-6">
                <div class="row">
                    <div class="col-sm-12 col-md-12 feature-box clearfix">
                        <div class="feature-box-icon" style="background-color: #FF6D1E; border-radius: 30px">
                            <i class="fa fa-shopping-cart"></i>
                        </div>

                        <div class="feature-box-content">
                            <h4>Nulla sed augue varius</h4>
                            <p>
                                Curabitur ac tristique quam. Suspendisse semper sem eget orci tincidunt tincidunt. Integer pellentesque scelerisque varius.
                                Nam tellus turpis, interdum sed diam sit amet, aliquet blandit lorem. Pellentesque non mollis tortor.
                                Integer elementum bibendum orci id malesuada. Nulla tristique ipsum non imperdiet rutrum.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 feature-box clearfix">
                        <div class="feature-box-icon" style="background-color: #FF6D1E; border-radius: 30px">
                            <i class="fa fa-child"></i>
                        </div>

                        <div class="feature-box-content">
                            <h4>Nulla sed augue varius</h4>
                            <p>
                                Curabitur ac tristique quam. Suspendisse semper sem eget orci tincidunt tincidunt. Integer pellentesque scelerisque varius.
                                Nam tellus turpis, interdum sed diam sit amet, aliquet blandit lorem. Pellentesque non mollis tortor.
                                Integer elementum bibendum orci id malesuada. Nulla tristique ipsum non imperdiet rutrum.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12 feature-box clearfix">
                        <div class="feature-box-icon" style="background-color: #FF6D1E; border-radius: 30px">
                            <i class="fa fa-male"></i>
                        </div>

                        <div class="feature-box-content">
                            <h4>Nulla sed augue varius</h4>
                            <p>
                                Curabitur ac tristique quam. Suspendisse semper sem eget orci tincidunt tincidunt. Integer pellentesque scelerisque varius.
                                Nam tellus turpis, interdum sed diam sit amet, aliquet blandit lorem. Pellentesque non mollis tortor.
                                Integer elementum bibendum orci id malesuada. Nulla tristique ipsum non imperdiet rutrum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="about-1-img" class="col-md-6 text-center">
                <img class="img-responsive" src="~/img/Ferramentas.png" alt="image" style="margin-top: -10%; margin-left: 15%" />
            </div>
        </div>
    </div>
</body>

