
@{
    ViewBag.Title = "Reservas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div id="content-wrapper">
        <section id="intro3" class="intro-parallax2">
            <div class="container">
                <div class="row text-center">
                    <div class="col-sm-12 col-md-12">
                        <p><h1 style="color: white; font-size: 48px; margin: 5%">Ocorreu um problema :(</h1></p>
                        <p><h3 style="color: white; margin: 2%">Não existem ambientes cadastrados para efetuar a reserva, começe agora cadastrando uma nova sala</h3></p>
                        <br/>
                        <a style="width: 20%; margin-right: 3%" type="button" class="btn btn-primary btn-lg" href="../Sala/Cadastrar">Nova Sala</a>
                        <br />
                    </div>
                </div>

            </div>
        </section>
            </div>
</body>
