 <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sobre o projeto:</h4>
            </div>
            <div class="modal-body">
                <center>
                    <p><h3>Apoio</h3></p>
                    <br />
                    <img src="~/img/logo.png" class="img-rounded" alt="Faculdade Cidade Verde"><br /><br>
                    <img src="~/img/db1.png" class="img-rounded" alt="DB1">
                    <br /><br />
                    <h3> Projeto desenvolvido por:</h3>
                    <p>
                        André: email@email.com
                        <br /> Glauber: email@email.com
                        <br /> João: email@email.com
                        <br /> Matheus: email@email.com
                        <br /> Thais: email@email.com
                    </p>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>
</div>
