@model IEnumerable<Ensalamento.Dominio.Sala>

@{
    ViewBag.Title = "Salas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="intro2" class="intro-parallax2">
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="#">Manhã</a></li>
            <li><a href="#">Tarde</a></li>
            <li class="active">Noite</li>
        </ol>

        @foreach (var item in Model)
        {
            <div class="feature-box col-sm-2">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-success">
                        <h3><strong> @Html.DisplayFor(modelItem => item.Nome)</strong></h3>
                        @Html.ActionLink("Detalhes", "Details", new { id = item.SalaId })
                        <hr />
                        <div class="alert alert-success" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Disponível
                        </div>
                        <p>Bloco 1</p>
                        <p>1º Andar, setor norte</p>
                        @Html.ActionLink("Editar", "Edit", new { id = item.SalaId }) |
                        @Html.ActionLink("Apagar", "Delete", new { id = item.SalaId })
                       <hr />
                        <center><a href="../Reserva/Cadastrar" class="btn btn-default" role="button">Reservar</a></center>
                    </li>
                </ul>
            </div>


        }
    </div>
</section>